<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sys.resource">
	<select id="findById" parameterType="int"
		resultType="com.yiyn.ask.sys.po.ResourcePo">
		select * from T_RESOURCE where resource_id =
		#{resource_id};
	</select>
	
	<select id="resourceList"  lang="velocity" resultType="java.util.HashMap">
		
	    select r.*,(case when ar.id is null then 0 else 1 end) as checked from t_resource r left join t_authority_resource ar 
		on r.resource_id = ar.resource_id and ar.authority_id = @{param.id}
	</select>
	
	<select id="searchByConditions" parameterType="com.yiyn.ask.base.utils.PaginationUtils" resultType="com.yiyn.ask.sys.po.ResourcePo">
	    select * from T_RESOURCE where 1=1 
		<if test="paramMap.resource_name != null and '' != paramMap.resource_name">  
              AND resource_name like CONCAT('%',#{paramMap.resource_name},'%')  
        </if>
         order by update_time desc
		limit #{startIndex}, #{numPerPage}
	</select>
	
	<select id="searchCountByConditions" parameterType="java.util.HashMap" resultType="int">
		
	    select count(*) as totalCount from T_RESOURCE where 1=1 
		<if test="paramMap.resource_name != null and '' != paramMap.resource_name">  
              AND resource_name like CONCAT('%',#{paramMap.resource_name},'%')  
        </if>
       
	</select>
	
	<select id="findAll"
		resultType="com.yiyn.ask.sys.po.ResourcePo">
		select * from T_RESOURCE order by resource_id;
	</select>

	<insert id="insert" parameterType="com.yiyn.ask.sys.po.ResourcePo" useGeneratedKeys="true" keyProperty="resource_id">
		insert into
		T_RESOURCE(RESOURCE_NAME,RESOURCE_PATH,RESOURCE_DESC,CREATOR,CREATE_TIME,UPDATER,UPDATE_TIME)
		values(#{resource_name},#{resource_path},#{resource_desc},#{creator},#{create_time},#{updater},#{update_time});
	</insert>
	
	<insert id="addResource" useGeneratedKeys="true">  
	    <selectKey resultType="long" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>  
	    insert into t_authority_resource (id,authority_id,resource_id)   
	    values  
	   
	    <foreach collection="param.resourceId" item="item" index="index" separator="," >  
	        <if test="item != 0">
	            (null,#{param.id},#{item})
	        </if>
	   	</foreach> 
	     
	</insert> 

	<update id="updateById" parameterType="com.yiyn.ask.sys.po.ResourcePo">
		update T_RESOURCE
		set
		RESOURCE_NAME=#{resource_name},RESOURCE_PATH=#{resource_path},RESOURCE_DESC=#{resource_desc},
		UPDATER=#{updater},UPDATE_TIME=#{update_time}
		where resource_id =#{resource_id};
	</update>
	
	<delete id="deleteById" parameterType="int">
	    delete from T_RESOURCE where resource_id=#{resource_id}; 
	</delete>
	
	<delete id="deleteResource">
        delete from t_authority_resource where authority_id = #{param.id}
    </delete>
	
	<delete id="deleteByIds">
	    delete from T_RESOURCE where resource_id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>

</mapper>