<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sys.userb">

	<select id="findById" parameterType="Long"
		resultType="com.yiyn.ask.sys.po.UserBPo">
		select * from user_b where id = #{id};
	</select>
	
	<select id="findByUserNo" parameterType="String" resultType="com.yiyn.ask.sys.po.UserBPo">
        select * from user_b where user_no =#{user_no}; 
    </select>
    
    <select id="searchByConditions" parameterType="com.yiyn.ask.base.utils.PaginationUtils" resultType="com.yiyn.ask.sys.po.UserBPo">
	    select * from user_b u
	    where 1=1 
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND u.user_no like CONCAT('%',#{paramMap.user_no},'%')  
        </if>
        <if test="paramMap.user_name != null and '' != paramMap.user_name">  
              AND u.user_name like CONCAT('%',#{paramMap.user_name},'%')  
        </if>
        <if test="paramMap.user_type != null and '' != paramMap.user_type">  
              AND u.user_type = #{paramMap.user_type}
        </if>
        <if test="paramMap.advice_type != null and '' != paramMap.advice_type">  
              AND u.advice_type = #{paramMap.advice_type}
        </if>
         order by u.UPDATED_TIME desc
		limit #{startIndex}, #{numPerPage}
	</select>
	
	<select id="searchCountByConditions" parameterType="java.util.HashMap" resultType="int">
	    select count(*) as totalCount from user_b u
	    where 1=1 
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND u.user_no like CONCAT('%',#{paramMap.user_no},'%')  
        </if>
        <if test="paramMap.user_name != null and '' != paramMap.user_name">  
              AND u.user_name like CONCAT('%',#{paramMap.user_name},'%')  
        </if>
       <if test="paramMap.user_type != null and '' != paramMap.user_type">  
              AND u.user_type = #{paramMap.user_type}
        </if>
        <if test="paramMap.advice_type != null and '' != paramMap.advice_type">  
              AND u.advice_type = #{paramMap.advice_type}
        </if>
	</select>
	
	<insert id="insert" parameterType="com.yiyn.ask.sys.po.UserBPo" useGeneratedKeys="true" keyProperty="id">
		insert into
		user_b(user_no,user_name,user_password,user_phone,bank_name,bank_account,user_id_num,user_type,
		user_headimg,work_year,user_desc,order_set,advice_type,
		advice_val,advice_num,share_link,appendix_img,recommend,
		open_hours,recent_open_hours,add_orders,is_hidden,revision,
		delete_flag,created_by,created_time,updated_by,updated_time)
		values(#{user_no},#{user_name},#{user_password},#{user_phone},#{bank_name},#{bank_account},#{user_id_num},#{user_type},
		#{user_headimg},#{work_year},#{user_desc},#{order_set},#{advice_type},
		#{advice_val},#{advice_num},#{share_link},#{appendix_img},#{recommend},
		#{open_hours},#{recent_open_hours},#{add_orders},#{is_hidden},#{revision},
		#{delete_flag},#{created_by},#{created_time},#{updated_by},#{updated_time});
	</insert>

	<update id="updateById" parameterType="com.yiyn.ask.sys.po.UserBPo">
		
	</update>
	
	<update id="updateByIdInBg" parameterType="com.yiyn.ask.sys.po.UserBPo">
		update user_b
		set
		user_name=#{user_name},user_phone=#{user_phone},bank_name=#{bank_name},bank_account=#{bank_account},user_id_num=#{user_id_num},user_type=#{user_type},
		user_headimg=#{user_headimg},work_year=#{work_year},order_set=#{order_set},advice_type=#{advice_type},advice_val=#{advice_val},advice_num=#{advice_num},
		share_link=#{share_link},recommend=#{recommend},user_desc=#{user_desc},add_orders=#{add_orders},is_hidden=#{is_hidden},
		updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</update>
	
	<update id="updatePasswordById" parameterType="com.yiyn.ask.sys.po.UserBPo">
		update user_b
		set
		user_password=#{user_password},
		updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</update>
	
	<delete id="deleteById" parameterType="int">
	    delete from user_b where user_id=#{user_id}; 
	</delete>
	
	<delete id="deleteByIds">
	    delete from user_b where user_id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>

</mapper>