<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sys.user">

	<select id="findById" parameterType="Long"
		resultType="com.yiyn.ask.sys.po.UserPo">
		select * from T_USER where id = #{id};
	</select>
	
	<select id="findByUserNo" parameterType="String" resultType="com.yiyn.ask.sys.po.UserPo">
        select * from T_USER where user_no =#{user_no}; 
    </select>
	
	<select id="searchByConditions" parameterType="com.yiyn.ask.base.utils.PaginationUtils" resultType="com.yiyn.ask.sys.po.UserPo">
	    select * from T_USER u
	    where 1=1 
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND u.user_no like CONCAT('%',#{paramMap.user_no},'%')  
        </if>
        <if test="paramMap.user_name != null and '' != paramMap.user_name">  
              AND u.user_name like CONCAT('%',#{paramMap.user_name},'%')  
        </if>
        <if test="paramMap.enabled != null and '' != paramMap.enabled">  
              AND u.enabled = #{paramMap.enabled}
        </if>
        order by u.UPDATED_TIME desc
		limit #{startIndex}, #{numPerPage}
	</select>
	
	<select id="searchCountByConditions" parameterType="java.util.HashMap" resultType="int">
	    select count(*) from T_USER u
	    where 1=1 
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND u.user_no like CONCAT('%',#{paramMap.user_no},'%')  
        </if>
        <if test="paramMap.user_name != null and '' != paramMap.user_name">  
              AND u.user_name like CONCAT('%',#{paramMap.user_name},'%')  
        </if>
        <if test="paramMap.enabled != null and '' != paramMap.enabled">  
              AND u.enabled = #{paramMap.enabled}
        </if>
	</select>
	
	<insert id="insert" parameterType="com.yiyn.ask.sys.po.UserPo" useGeneratedKeys="true" keyProperty="user_id">
		insert into
		T_USER(user_no,user_name,user_password,user_phone,enabled,
		delete_flag,created_by,created_time,updated_by,updated_time)
		values(#{user_no},#{user_name},#{user_password},#{user_phone},#{enabled},
		#{delete_flag},#{created_by},#{created_time},#{updated_by},#{updated_time});
	</insert>

	<update id="updateById" parameterType="com.yiyn.ask.sys.po.UserPo">
		update T_USER
		set
		user_name=#{user_name},user_phone=#{user_phone},ENABLED=#{enabled},
		updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</update>
	
	<update id="updatePasswordById" parameterType="com.yiyn.ask.sys.po.UserPo">
		update T_USER
		set
		user_password=#{user_password},
		updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</update>
	
	<delete id="deleteById" parameterType="Long">
	    delete from T_USER where user_id=#{user_id}; 
	</delete>
	
	<delete id="deleteByIds">
	    delete from T_USER where user_id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>

</mapper>