<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 账户提现记录表 -->
<mapper namespace="yiyin.withdraw">
    <!-- 提现点击后插入提现记录表  -->
    <insert id="insert" parameterType="com.yiyn.ask.xcx.account.po.AccountWithDrawPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_withdraw(account_id,WITHDRAW,WITHDRAW_ACT,SERVICE_CHARGE,WITHDRAW_TYPE,
		STATUS,created_by,created_time)
		values (#{account_id},#{withdraw},#{withdraw_act},#{service_charge},#{withdraw_type},
		#{status},#{created_by},now())
	</insert>
	
	<select id="searchByConditions_bg" parameterType="com.yiyn.ask.base.utils.PaginationUtils" resultType="java.util.HashMap">
	    select uw.*,ub.user_no as ub_user_no from user_withdraw uw, user_account ua, user_b ub
	    where 1=1 and uw.account_id = ua.id and ua.user_b_id = ub.id
	    <if test="paramMap.status != null and '' != paramMap.status">  
              AND uw.status = #{paramMap.status}
        </if>
	    <if test="paramMap.withdraw_type != null and '' != paramMap.withdraw_type">  
              AND uw.withdraw_type = #{paramMap.withdraw_type}
        </if>
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND ub.user_no = #{paramMap.user_no}
        </if>
        order by uw.UPDATED_TIME desc
		limit #{startIndex}, #{numPerPage}
	</select>
	
	<select id="searchCountByConditions_bg" parameterType="java.util.HashMap" resultType="int">
	    select count(*) from user_withdraw uw, user_account ua, user_b ub
	    where 1=1 and uw.account_id = ua.id and ua.user_b_id = ub.id
	    <if test="paramMap.status != null and '' != paramMap.status">  
              AND uw.status = #{paramMap.status}
        </if>
	    <if test="paramMap.withdraw_type != null and '' != paramMap.withdraw_type">  
              AND uw.withdraw_type = #{paramMap.withdraw_type}
        </if>
		<if test="paramMap.user_no != null and '' != paramMap.user_no">  
              AND ub.user_no = #{paramMap.user_no}
        </if>
	</select>
	
	<select id="findById" resultType="com.yiyn.ask.xcx.account.po.AccountWithDrawPo">
		select * from user_withdraw where id=#{id}
	</select>
	
	<select id="updateStatusById" parameterType="com.yiyn.ask.xcx.account.po.AccountWithDrawPo" resultType="com.yiyn.ask.xcx.account.po.AccountWithDrawPo">
	    update user_withdraw set status=#{status},updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</select>
	
</mapper>