<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 账户统计表 -->
<mapper namespace="yiyin.accountStat">
    <select id="getAcountStatM" resultType="com.yiyn.ask.xcx.account.po.AccountStatPo" parameterType="java.util.HashMap">
        select *
 		from stat_account_m m
		where user_no = #{user_no}
		and #{year} = SUBSTR(STAT_MONTH FROM 1 FOR 4)
		order by m.CREATED_TIME desc
    </select>
</mapper>