<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.account">
	<insert id="insert" parameterType="com.yiyn.ask.xcx.account.po.AccountPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_account(user_b_id,user_no,balance,withdraw,user_type,user_name,revision,
		delete_flag,created_by,created_time,updated_by,updated_time)
		values (#{user_b_id},#{user_no},#{balance},#{withdraw},#{user_type},#{user_name},#{revision},
		#{delete_flag},#{created_by},#{created_time},#{updated_by},#{updated_time});
	</insert>

    <select id="getAccountInfo" resultType="com.yiyn.ask.xcx.account.po.AccountPo" parameterType="String">
      select t.user_no,t.id,b.user_type user_type,
      cast(t.WITHDRAW_enable as decimal(9,2)) as withdraw_enable,
      cast(t.BALANCE as decimal(9,2)) as balance,
      cast(sum(m.income_total) as decimal(9,2))  as income_total,
      (select a.income_total from stat_account_m a where a.STAT_MONTH = DATE_FORMAT(date_sub(now(),INTERVAL 1 month),'%Y-%m')
		and a.user_no = b.user_no
		) as income_last_m
	  from user_b b,user_account t left join stat_account_m m on m.user_no = t.USER_NO
	  where b.user_no = t.user_no and t.USER_NO = #{value}
	  group by t.user_no
    </select>
    
    <select id="findById" resultType="com.yiyn.ask.xcx.account.po.AccountPo">
      select *
	  from user_account 
	  where id = #{id}
    </select>
    
    <select id="getAccountInfoByUserNo" resultType="com.yiyn.ask.xcx.account.po.AccountPo" parameterType="String">
      select *
	  from user_account 
	  where user_no = #{value}
    </select>
    
    <select id="findByUserBId" resultType="com.yiyn.ask.xcx.account.po.AccountPo">
      select *
	  from user_account 
	  where user_b_id = #{user_b_id}
    </select>
    
    <!--  通知后更新账户数据 -->
    <update id="updateById" parameterType="com.yiyn.ask.xcx.account.po.AccountPo">
		update user_account
		set balance = #{balance}
		where id = #{id}
	</update>
	
	<!--  通知后更新账户数据 -->
    <update id="updateByIdAftetTransfer" parameterType="com.yiyn.ask.xcx.account.po.AccountPo">
		update user_account
		set balance=#{balance},withdraw=#{withdraw},updated_by=#{updated_by},updated_time=#{updated_time}
		where id = #{id}
	</update>
	
	<!--  修改账户余额 -->
    <update id="updateByIdAfterCancel" parameterType="com.yiyn.ask.xcx.account.po.AccountPo">
		update user_account
		set balance=#{balance},updated_by=#{updated_by},updated_time=#{updated_time}
		where id = #{id}
	</update>
	
    <!-- 提现后更新可提现金额为0 -->
    <update id="updWithDraw" parameterType="com.yiyn.ask.xcx.account.po.AccountPo">
		update user_account
		set withdraw_enable = 0
		where id = #{id}
	</update>
	
</mapper>