<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.attachment">

	<select id="findById" parameterType="Long"
		resultType="com.yiyn.ask.base.po.AttachmentPo">
		select * from yiyn_attachment where id = #{id};
	</select>
	
	<select id="findAllByObject"
		resultType="com.yiyn.ask.base.po.AttachmentPo">
		select * from yiyn_attachment where object_type=#{object_type} and object_id=#{object_id} and delete_flag='N';
	</select>

	<insert id="insert" parameterType="com.yiyn.ask.base.po.AttachmentPo"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		yiyn_attachment(object_type,object_id,attachment_name,attachment_type,oss_url,remark,
		delete_flag,created_by,created_time,updated_by,updated_time)
		values
		(#{object_type},#{object_id},#{attachment_name},#{attachment_type},#{oss_url},#{remark},
		#{delete_flag},#{created_by},#{created_time},#{updated_by},#{updated_time});
	</insert>
	
	<update id="deleteById_logic">
		update yiyn_attachment
		set
		DELETE_FLAG='Y',updated_by=#{updated_by},updated_time=#{updated_time}
		where id =#{id};
	</update>
	
	
	
</mapper>