<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.banner">
    <select id="getBannerList" resultType="com.yiyn.ask.xcx.main.po.BannerPo">
        select ad_url as banner_link,
        pic_url as banner_img,
        description as banner_desc
        from yiyn_ad 
        where DELETE_FLAG = 'N'
        order by id asc
        limit 0,5
    </select>
</mapper>