<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.consultRef">
    <select id="getRefList" resultType="com.yiyn.ask.xcx.consult.po.ConsultRefPo" parameterType="java.util.HashMap">
        select ref.id,ref.birthday_b,ref.age_b,case sex_b when '1' then '男' else '女' end as sex_b
        from user_c_ref ref
        where 1 =1
		and USER_NO = #{no}
		order by ref.CREATED_TIME desc
    </select>
    
    <select id="getRefInfo" resultType="com.yiyn.ask.xcx.consult.po.ConsultRefPo" parameterType="String">
        select *
        from user_c_ref
        where 1 =1
		and id = #{value}
    </select>
    
    <insert id="insert" parameterType="com.yiyn.ask.xcx.consult.po.ConsultRefPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_c_ref(USER_NO,NAME_M,AGE_M,BIRTHDAY_M,SPECIAL_M,SEX_B,
		AGE_B,BIRTHDAY_B,EDC_B,BIRTH_WEIGHT_B,SPECIAL_B,BIRTH_WEEK,PREMIE,CREATED_TIME)
		values(#{user_no},#{name_m},#{age_m},#{birthday_m},#{special_m},#{sex_b},
		#{age_b},#{birthday_b},#{edc_b},#{birth_weight_b},#{special_b},#{birth_week},#{premie},now())
	</insert>
    
    <update id="updateById" parameterType="com.yiyn.ask.xcx.consult.po.ConsultRefPo">
		update user_c_ref 
		set name_m = #{name_m},
		age_m = #{age_m},
		birthday_m = #{birthday_m},
		special_m = #{special_m},
		sex_b = #{sex_b},
		age_b = #{age_b},
		birthday_b = #{birthday_b},
		edc_b = #{edc_b},
		birth_weight_b = #{birth_weight_b},
		special_b = #{special_b},
		birth_week = #{birth_week},
		premie = #{premie},
		UPDATED_TIME = now()
		where id = #{id}
	</update>
</mapper>