<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.userCCoupon">
    <select id="findById" resultType="com.yiyn.ask.xcx.consult.po.UserCCouponPo" parameterType="Long">
        select *
        from user_c_coupon
        where 1 =1
		and id = #{value}
    </select>

</mapper>