<!DOCTYPE configuration PUBLIC     
    "-//mybatis.org//DTD Config 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 增加velocity支持 -->
		<typeAlias alias="velocity" type="org.mybatis.scripting.velocity.Driver" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/sys/UserBMapper.xml" />
		<mapper resource="mybatis/sys/UserMapper.xml" />
		<mapper resource="mybatis/sys/UserAuthorityMapper.xml" />
		<mapper resource="mybatis/sys/RoleMapper.xml" />
		<mapper resource="mybatis/sys/AuthorityMapper.xml" />
		<mapper resource="mybatis/sys/RoleAuthorityMapper.xml" />
		<mapper resource="mybatis/sys/ResourceMapper.xml" />
		<mapper resource="mybatis/user/UserMapper.xml"/>
		<mapper resource="mybatis/user/UserTagMapper.xml"/>
		<mapper resource="mybatis/user/UserEvalMapper.xml"/>
		<mapper resource="mybatis/user/UserCouponMapper.xml"/>
		<mapper resource="mybatis/user/UserCMapper.xml"/>
		<mapper resource="mybatis/user/UserColMapper.xml"/>
		<mapper resource="mybatis/user/UserOrderSetMapper.xml"/>
		<mapper resource="mybatis/center/CenterResponseMapper.xml"/>
		<mapper resource="mybatis/center/CodeMapper.xml"/>
		<mapper resource="mybatis/center/FormIdMapper.xml"/>
		<mapper resource="mybatis/center/DistributorsMapper.xml"/>
		<mapper resource="mybatis/account/AccountMapper.xml"/>
		<mapper resource="mybatis/account/AccountFlowMapper.xml"/>
		<mapper resource="mybatis/account/AccountStatMapper.xml"/>
		<mapper resource="mybatis/account/AccountWithDMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultLogMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultationSheetMapper_bg.xml"/>
		<mapper resource="mybatis/consult/ConsultRefMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultSheetRefMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultProcessMapper.xml"/>
		<mapper resource="mybatis/consult/ConsultSheetSmsMapper.xml"/>
		<mapper resource="mybatis/main/BannerMapper.xml"/>
		<mapper resource="mybatis/main/DistributorsVisitMapper.xml"/>
		<mapper resource="mybatis/base/AttachmentMapper.xml" />
		<mapper resource="mybatis/market/AdMapper.xml"/>
	</mappers>
</configuration>