<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.userb">
    <select id="findByUserno" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT user.*,
        ((select count(*) from consultation_sheet s where s.user_b_no = user.user_no AND s.`STATUS` != '1') + (select value from yiyn_code where code_type = 'ADVICE_NUM') + user.add_orders) as consultCount,
        case when t.consultEval is null then 5 else t.consultEval end as  consultEval
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where user_no = #{value}
    </select>
    
    <!-- 查找大咖推荐  不接单的不展示  隐藏的也不显示-->
    <select id="findRecommendList" resultType="com.yiyn.ask.xcx.user.po.UserPo">
        select * from (SELECT user.*, 
        ((select count(1) from consultation_sheet s where s.user_b_no = user.user_no AND s.`STATUS` != '1') + (select value from yiyn_code where code_type = 'ADVICE_NUM') + user.add_orders) as consultCount,
        case when t.consultEval is null then 5 else t.consultEval end as consultEval
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM
			consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where RECOMMEND ='Y' 
        and order_set = 2
        and is_hidden = 'N') t
        order by t.consultEval desc,t.consultCount desc,t.advice_val desc
    </select>
    
    <!-- c端用户关注咨询师列表 不接单的灰掉  隐藏的不显示-->
    <select id="getCollectionConsultList" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT u.*,case when t.consultEval is null then 5 else t.consultEval end as  consultEval
			FROM user_c_collection c,
			user_b u left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = u.user_no
			where u.user_no =c.USER_NO_B
			and c.user_no_c = #{value}
			and is_hidden = 'N'
		order by u.ORDER_SET desc,c.CREATED_TIME desc
    </select>
    
    <!-- 根据名称或者其他信息查找 服务人员列表  -->
    <select id="getConsultList" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="java.util.HashMap">
       select * from (SELECT
			USER.*, 
			((select count(1) from consultation_sheet s where s.user_b_no = user.user_no AND s.`STATUS` != '1') + (select value from yiyn_code where code_type = 'ADVICE_NUM') + user.add_orders) as consultCount,
			case when t.consultEval is null then 5 else t.consultEval end as  consultEval
		FROM
			user_b user left join (SELECT
					round(sum(e.stars)/count(1),1) consultEval,user_b_no
				FROM
					consultation_evaluate e
					group by e.USER_B_NO) t on t.user_b_no = user.user_no
		WHERE user.is_hidden = 'N'
        <if test="advice_type != null">
            <if test="advice_type == 1">
			and advice_type in('1','9')
			</if>
			<if test="advice_type == 2">
			and advice_type in('2','9')
			</if>
		</if>
		<if test="name != null">
		    and (SKILLED like concat('%',#{name},'%') or user_name like concat('%',#{name},'%')  or USER_DESC like concat('%',#{name},'%'))
		</if>
		limit 0,50
		) t
		order by t.ORDER_SET desc
		<!-- 全部排序 -->
		<if test="pxtype == 1">
			,t.consultEval desc,t.consultCount desc,t.advice_val desc
		</if>
		<!-- 评分排序 -->
		<if test="pxtype == 2">
			,t.consultEval desc
		</if>
		<!-- 咨询量排序 -->
		<if test="pxtype == 3">
			,t.consultCount desc
		</if>
		<!-- 价格升序 -->
		<if test="pxtype == 4">
			,t.ADVICE_VAL asc
		</if>
		<!-- 价格降序 -->
		<if test="pxtype == 5">
			,t.ADVICE_VAL desc
		</if>
    </select>
    
    <select id="findUserInfo" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT user.user_headimg,user.user_name,user.order_set,
        user.is_hidden,user.advice_val,user.advice_num,
        case when t.consultEval is null then 5 else t.consultEval end as consultEval,
        ((select count(*) from consultation_sheet s where s.user_b_no = user.user_no AND s.`STATUS` != '1') + (select value from yiyn_code where code_type = 'ADVICE_NUM') + user.add_orders) as consultCount,
 		(select count(1) from consultation_sheet sheet
		where sheet.status != '1'
		and sheet.CREATED_TIME &gt;= DATE_FORMAT(now(),'%Y-%m-%d 00:00:00')
		and sheet.CREATED_TIME &lt; DATE_FORMAT(DATE_ADD(now(), INTERVAL 1 DAY),'%Y-%m-%d 00:00:00')
		and sheet.USER_B_NO = user.USER_NO) as advice_num_today
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where user_no = #{value}
    </select>
    
    <insert id="insert" parameterType="com.yiyn.ask.xcx.user.po.UserPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_b(user_no,user_name,user_password,user_phone,user_type,user_headimg,work_year,user_desc)
		values (#{user_no},'涂培忠',#{user_password},'13777844405',1,'','11','我是个天才')
	</insert>
	
    <update id="updInfo" parameterType="com.yiyn.ask.xcx.user.po.UserPo">
        update user_b
        set UPDATED_TIME = now()
        <if test="type == 'share'">
			,share_link = #{share_link}
		</if>
        <if test="type == 'orderset'">
			,order_set = #{order_set}
		</if>
        <if test="type == 'pas'">
			,user_password = #{user_password}
		</if>
		<if test="type == 'consult'">
			,advice_val = #{advice_val}
			,advice_num = #{advice_num}
		</if>
		<if test="type == 'user'">
		    <if test="user_headimg != null">
		        ,user_headimg = #{user_headimg}
		    </if>
			,user_name = #{user_name}
			,work_year = #{work_year}
			,user_desc = #{user_desc}
			,skilled = #{skilled}
			,advice_type = #{advice_type}
		</if>
		<if test="type == 'loginopen'">
			,open_id = #{open_id}
			,unionid = #{unionid}
		</if>
		where user_no = #{user_no}
    </update>
    
    <!-- c端用户关注咨询师列表 不接单的灰掉  隐藏的不显示-->
    <select id="findById" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="Long">
        select b.* from 
 		user_b b,consultation_sheet t where 
		t.USER_B_NO = b.USER_NO
		and t.ID = #{value}
    </select>
</mapper>