<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.eval">
    <select id="findUserEval" resultType="com.yiyn.ask.xcx.user.po.UserEvalPo" parameterType="java.util.HashMap">
        SELECT *,DATE_FORMAT(e.CREATED_TIME,'%Y-%m-%d') as created_time_format
        FROM consultation_evaluate e
        where e.user_b_no = #{user_no}
        <!-- C端不显示隐藏的评价  -->
		<if test="user_type == 'C'.toString()">
			and e.is_hidden = 'N'
		</if>
		order by e.CREATED_TIME desc 
		limit 0,10
    </select>
    
     <insert id="insert" parameterType="com.yiyn.ask.xcx.user.po.UserEvalPo" useGeneratedKeys="true" keyProperty="id">
		insert into consultation_evaluate(USER_B_NO,USER_C_NO,CONSULTATION_ID,STARS,EVA_DESC,CREATED_BY,CREATED_TIME)
		select user_b_no,user_c_no,
		#{consultation_id},
		#{stars},
		#{eva_desc},
		user_c_no,
		now()
		from consultation_sheet
		where id = #{consultation_id}
	</insert>
</mapper>