<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.usertag">
    <select id="getUserTagList" resultType="com.yiyn.ask.xcx.user.po.UserTagPo" parameterType="String">
        SELECT c.value,c.name
        FROM user_b u,user_b_skilled skill,yiyn_code c
        where u.user_no = skill.user_no
        and skill.CODE_TYPE = 'TAG'
        and skill.code_id = c.id
        and u.user_no = #{value}
    </select>
    
    <select id="getTagCodeList" resultType="com.yiyn.ask.xcx.user.po.UserTagPo">
        SELECT c.value,c.name
        FROM yiyn_code c
        where c.code_type = 'TAG'
    </select>
    
    <insert id="insTag" parameterType="java.util.List">
		insert into user_b_skilled (user_no,code_id,code_type) values 
		<foreach collection="list" item="userTagPo" separator=",">
			(#{userTagPo.user_no},#{userTagPo.value},'TAG')
		</foreach>
	</insert>
    
    <delete id="delTag" parameterType="String">
		delete from user_b_skilled where 
		user_no = #{value}
	</delete>
</mapper>