<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.userb">
    <select id="findByUserno" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT *
        FROM user_b user
        where user_no = #{value}
    </select>
    
    <insert id="insert" parameterType="com.yiyn.ask.xcx.user.po.UserPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_b(user_no,user_name,user_password,user_phone,user_type,user_headimg,work_year,user_desc)
		(#{user_no},'涂培忠',#{user_password},'13777844405',1,'','11','我是个天才')
	</insert>
</mapper>