<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yiyin.userb">
    <select id="findByUserno" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT user.*,(
				SELECT
					count(1)
				FROM
					consultation_sheet s
				WHERE
					user.user_no = s.USER_B_NO
				AND s.`STATUS` != '1'
			) AS consultCount,case when t.consultEval is null then 5 else t.consultEval end as  consultEval
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where user_no = #{value}
        and user_type = 2
    </select>
    
    <!-- 查找大咖推荐 -->
    <select id="findRecommendList" resultType="com.yiyn.ask.xcx.user.po.UserPo">
        SELECT user.*,case when t.consultEval is null then 5 else t.consultEval end as consultEval
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM
			consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where user_type = 2 and RECOMMEND ='Y'
    </select>
    
    <!-- c端用户关注咨询师列表 -->
    <select id="getCollectionConsultList" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT u.*,case when t.consultEval is null then 5 else t.consultEval end as  consultEval
			FROM user_c_collection c,
			user_b u left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = u.user_no
			where u.user_type = 2 
			and u.user_no =c.USER_NO_B
			and c.user_no_c = #{value}
		order by c.CREATED_TIME desc
    </select>
    
    <!-- 根据名称或者其他信息查找 服务人员列表  -->
    <select id="getConsultList" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="java.util.HashMap">
       select * from (SELECT
			USER.*, (
				SELECT
					count(1)
				FROM
					consultation_sheet s
				WHERE
					USER .user_no = s.USER_B_NO
				AND s.`STATUS` != '1'
			) AS consultCount,case when t.consultEval is null then 5 else t.consultEval end as  consultEval
		FROM
			user_b user left join (SELECT
					round(sum(e.stars)/count(1),1) consultEval,user_b_no
				FROM
					consultation_evaluate e
					group by e.USER_B_NO) t on t.user_b_no = user.user_no
		WHERE user.user_type = 2
        <if test="advice_type != null">
            <if test="advice_type == 1">
			and advice_type in('1','2','9')
			</if>
			<if test="advice_type == 2">
			and advice_type in('3','9')
			</if>
		</if>
		<if test="name != null">
		    and (SKILLED like concat('%',#{name},'%') or user_name like concat('%',#{name},'%')  or USER_DESC like concat('%',#{name},'%'))
		</if>
		limit 0,50
		) t
		<!-- 全部排序 -->
		<if test="pxtype == 1">
			order by t.consultEval desc,t.consultCount desc,t.advice_val desc
		</if>
		<!-- 评分排序 -->
		<if test="pxtype == 2">
			order by t.consultEval desc
		</if>
		<!-- 咨询量排序 -->
		<if test="pxtype == 3">
			order by t.consultCount desc
		</if>
		<!-- 价格升序 -->
		<if test="pxtype == 4">
			order by t.ADVICE_VAL asc
		</if>
		<!-- 价格降序 -->
		<if test="pxtype == 5">
			order by t.ADVICE_VAL desc
		</if>
    </select>
    
    <select id="findUserInfo" resultType="com.yiyn.ask.xcx.user.po.UserPo" parameterType="String">
        SELECT user.user_headimg,user.user_name,user.order_set,user.advice_val,user.advice_num,
        case when t.consultEval is null then 5 else t.consultEval end as consultEval,
        (select count(*) from consultation_sheet s where s.user_b_no = user.user_no) as consultCount
        FROM user_b user left join (SELECT
			round(sum(e.stars)/count(1),1) consultEval,user_b_no
		FROM
			consultation_evaluate e
			group by e.USER_B_NO) t on t.user_b_no = user.user_no
        where user_no = #{value}
    </select>
    
    <insert id="insert" parameterType="com.yiyn.ask.xcx.user.po.UserPo" useGeneratedKeys="true" keyProperty="id">
		insert into user_b(user_no,user_name,user_password,user_phone,user_type,user_headimg,work_year,user_desc)
		values (#{user_no},'涂培忠',#{user_password},'13777844405',1,'','11','我是个天才')
	</insert>
	
    <update id="updInfo" parameterType="com.yiyn.ask.xcx.user.po.UserPo">
        update user_b
        set UPDATED_TIME = now()
        <if test="type == 'share'">
			,share_link = #{share_link}
		</if>
        <if test="type == 'orderset'">
			,order_set = #{order_set}
		</if>
        <if test="type == 'pas'">
			,user_password = #{user_password}
		</if>
		<if test="type == 'consult'">
			,advice_val = #{advice_val}
			,advice_num = #{advice_num}
		</if>
		<if test="type == 'user'">
		    <if test="user_headimg != null">
		        ,user_headimg = #{user_headimg}
		    </if>
			,user_name = #{user_name}
			,work_year = #{work_year}
			,user_desc = #{user_desc}
			,skilled = #{skilled}
		</if>
		where user_no = #{user_no}
    </update>
</mapper>